/*
 * Copyright 2020 WICKLETS LLC
 *
 * This file is part of 2D Scene.
 *
 * 2D Scene is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * 2D Scene is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with 2D Scene.  If not, see <https://www.gnu.org/licenses/>.
 */

@import 'Editor/_wickbrand.scss';
@import '../toolsettings.scss'; 

$settings-input-size: 40px;

.settings-text-label {
  color: $editor-primary-property-text;
  font-size: 12px;
  bottom: 0px;
  text-align: center;
}

.settings-input-icon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.settings-numeric-input-container {
  display: flex;
  align-items: center;
  width: calc(2 * #{$settings-input-size});
}

.settings-numeric-wick-input-container {
  width: calc(#{$settings-input-size});
  margin-right: 4px;
}


.settings-checkbox-input {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
}

.toolbox-input-icon {
  width: 100%;
}